/* Colors						*/
/* If you update this, please update it at the bottom as well */
/* Dark Blue: 002448		*/
/* Medium Blue: 1B9DC6 */
/* Pale Blue: E8EFF4		*/
/* White Blue: EAF6FA		*/
/* Red Orange: B83004	*/

#tabs {
    display: block;
    clear: both;
    margin: 18px 0px 9px 0px;
    border-width: 0 0 5px 0;
    border-style: solid;
    height: 30px;
    padding: 0;
}
#tabs li {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    display: block;
    float: left;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px; /*width:200px; padding:0px;margin:50px 7px;width:200px;color:#000;border-width:0 0 2px 0;border-style:solid;border-color:#B8CC6E; */
}
#tabs li.active {
    font-weight: bold;
    background-image: url(images/fadeTop.png);
    background-position: 0 -10px;
    background-repeat: repeat-x;
    font-weight: bold;
}
#tabs li.active span.tabInside {
    background-image: url(images/fadeTop.png);
    background-position: 0 -10px;
    background-repeat: repeat-x;
}
#tabs li span.tabInside {
    background-position: right top;
    padding: 8px 0px 0px 0px;
    margin: 0px 10px 0 10px;
    width: auto;
    vertical-align: middle;
    display: block;
    float: left;
    clear: none;
}
/* #tabs li.active span.tabInside {background-color:#B83004;color:#FFF;} */
#tabs li.active a:link, #tabs li.active a:visited {
    margin: 0 0 0 0;
    background-color: transparent;
    text-decoration: none;
    line-height: 20px;
}
#tabs li a:link, #tabs li a:visited {
    margin: 0 0 0 0;
    background-color: transparent;
    text-decoration: none;
    line-height: 20px;
}
#tabs li a:hover {
    margin: 0 0 0 0;
    text-decoration: underline;
    line-height: 20px;
}

.jobNotes {
    width: 150px;
    float: right;
    padding: 15px;
    margin: 10px 0px 10px 10px;
}

faqLetter, .question, .answer {
    display: block;
    margin: 5px 5px 5px 20px;
}
.faqLetter {
    font-weight: normal;
    color: #555;
    width: 20px;
    display: block;
    float: left;
}
a.toTopAnchor, a#visited.toTopAnchor {
    margin: 5px 10px 20px 40px;
    display: block;
    color: #333;
}


body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #4D4D4D;
}

div span.panelContent {
    padding: 15px 15px;
    display: block;
}

ul.applicationPageList, ul.applicationPageList li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

ul.applicationPageList li {
    height: 25px;
    padding: 1px;
}
ul.applicationPageList li.liSelect {
    border: 1px solid #555500;
    background-color: #EEF376;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 2px 2px 5px;
}
ul.applicationPageList li span.pageComplete {
    line-height: 25px;
    background-image: url(images/docs_16.gif);
    background-repeat: no-repeat;
    padding-left: 20px;
}
ul.applicationPageList li span.pageComplete a:link, ul.applicationPageList li span.pageComplete a:visited {
    padding: 0;
    border: 0;
    margin: 0;
    display: inline;
}
ul.applicationPageList li span.pageIncomplete {
    line-height: 25px;
    background-image: url(images/docs_16_off.gif);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.subPanel, .mainPanel, .fullPanel {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #EEE;
    background-repeat: repeat-x;
    background-image: url(images/fadeTop.png);
    behavior: url(iepngfix.htc);
}

.subPanel div, .mainPanel div, .fullPanel div {
    border: 0;
}
.subPanel h5, .mainPanel h5, .fullPanel h5 {
    margin-top: 1px;
    padding-top: 0px;
}

.bottomCorner {
    display: none;
}
.subPanel {
    /*background-image:url(images/corners_280.gif);*/
    clear: right;
    width: 280px;
    float: right;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}


.mainPanel {
    /*background-color:Orange;*/ /*background-image:url(images/corners_mainPanel.gif); background-repeat:no-repeat;*/
    width: 600px;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}


.fullPanel {
    clear: both; /*            background-image:url(images/corners_fullPanel.png); background-repeat:no-repeat;*/
    width: 900px;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}


a.button:link, a.button:visited {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #EEE;
    background-repeat: repeat-x;
    background-position: 0 -20px;
    background-image: url(images/fadeTop.png);
    behavior: url(iepngfix.htc);
    background-color: #4D4D4D;
    color: #FFF;
    padding: 3px 7px;
    font-weight: bold;
    font-size: smaller;
    text-decoration: none;
}
a.button:hover {
    background-color: #2D2D2D;
    border: 1px solid #FFF;
}



div.districtLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.dlPager {
    margin: 5px;
    padding: 3px 5px;
}
.dlPager a {
    text-decoration: underline;
}



.addrPtn {
}
.addrPtnName {
    background-color: pink;
    float: left;
}
.addrPtnStreet {
    background-color: blue;
}
.addrPtnCity {
    background-color: green;
    clear: none;
}
.addrPtnState {
    background-color: yellow;
    clear: none;
}
.addrPtnZip {
    background-color: orange;
    clear: none;
}

div.regPtn {
    display: block;
    clear: both;
    height: auto;
    margin: 10px 0;
    padding: 5px;
}
.regPtn label {
    clear: none;
    width: 200px;
    text-align: left;
    float: left;
    padding: 0;
    margin: 0 10px 0 0;
}
.regPtn label span {
    clear: none;
    width: 200px;
    text-align: left;
    padding: 0px 0px 15px 0px;
    margin: 0;
    display: inline;
}
.regPtn label span span {
    padding: 0px;
}
.regPtn input {
    clear: none;
    margin-top: 0px;
}

div.longQuestion label, div.longQuestion label span {
    clear: both;
    display: block; /*float: none;*/
    width: 100%;
}
div.longQuestion input, div.longQuestion select {
    margin-left: 210px; /* Changed from 200px to 210px. For allignment with other controls*/
    margin-bottom: 5px;
}

/*BOC Kapil*/

 div.longQuestion span input 
 {
     margin-left: 0px;
     margin-bottom:0px;
 }
 div.longQuestion span div:first-child input {
     margin-left: 210px;
 }
 div.longQuestion span div:first-child + input {
     margin-left: 0px;
 }
 div.longQuestion span div:first-child + input + input {
    margin-left: 0px;
 }

/*EOC Kapil*/

div.longAnswer label, div.longAnswer label span {
    clear: both;
    display: block; /*float: none;*/
    width: 550px;
}

div.sectionHead {
    background-repeat: repeat-x;
    background-image: url(images/fadeTop.png);
    behavior: url(iepngfix.htc);
    background-position: 0 -20px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px;
    padding: 6px;
    font-size: 120%;
    font-weight: bold;
    line-height: 100%;
}
div.sectionSubText {
    margin: 0px;
    padding: 6px;
    font-size: 95%;
}

label {
    display: block;
    margin: 9px 9px 9px 0;
}

label span {
    float: left;
    width: 250px;
    margin: 0 18px 9px 0;
}



label span em {
    margin-left: 3px;
    font-weight: bold;
    color: #E00;
}

fieldset {
    margin: 9px 0;
    padding: 6px 9px;
    border: 0;
}

fieldset.buttons {
    text-align: right;
    background-color: #EEE;
    background-repeat: repeat-x;
    background-image: url(images/fadeTop.png);
    behavior: url(iepngfix.htc);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* changed with 2.5 above */

input:focus, textarea:focus, select:focus, checkbox:focus {
    background-color: #F8FAC6;
    border: 2px solid black;
    color: #000;
}
legend {
    margin: 0 0 0 -9px;
    padding: 0px 6px;
    border: 0px;
    background-color: #EBF1F5;
    color: #333;
}

.radioGroup {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
.radioGroup label {
    position: relative;
    top: -24px;
    left: 230px;
    display: block;
    width: 300px;
    clear: both;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
.radioGroup p {
    width: 210px;
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
}
div.wrapper {
    background-color: #4D4D4D;
    text-align: center;
    width: 100%;
    padding: 0px;
}
div.content {
    background-color: #FFFFFF;
    display: block;
    vertical-align: top;
    width: 900px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border: 0;
    padding: 5px 8px 0px 8px;
    text-align: left;
}

/* for development */
p.story {
    display: inline;
    color: #FFFFFF;
    background-color: #FF1493;
    padding: 2px;
    font-weight: bold;
    visibility: hidden;
}

/*.alert { background-color: #FFFF00; color: #000; text-align: left; line-height: 150%; font-weight: bold; }*/
.alert {
    font-weight: bold;
    border: 1px solid #555500;
    background-color: #EEF376;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px 2px 2px 5px;
    display: block;
}

/* Anchor Styles ----------------------------------------------------------------------------  Anchor Styles */
a:link {
  
}

a:visited {
  
}

a:hover {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
}
a:active {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
    color: #1b9dc6;
}

a.columnHeader:link, a.columnHeader:visited {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #E8EFF4;
    text-decoration: underline;
}
a.columnHeader:hover, a.columnHeader:active {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: underline;
}
a.headline:link {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #cccccc;
    text-decoration: underline;
}

a.headline:visited {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #cccccc;
    text-decoration: underline;
}

a.headline:hover {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    text-decoration: underline;
}
a.headline:active {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #cccccc;
    text-decoration: underline;
}

a.jobTitle:link {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-decoration: underline;
}
a.jobTitle:visited {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-decoration: underline;
}
a.jobTitle:hover {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: rgb(148,48,4);
    text-decoration: underline;
}
a.jobTitle:active {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-decoration: underline;
}

/* New Button Styles ----------------------------------------------------------------------------  New Button Styles */
.defaultButton, .defaultButton:link, .defaultButton:visited {
    background-color: #1B9DC6;
    border-width: 1px;
    border-style: solid;
    border-color: #E8EFF4 #999999 #999999 #E8EFF4;
    padding: 4px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

.defaultButtonOver, .defaultButton:hover {
    background-color: #DE3B04;
    border-width: 1px;
    border-style: solid;
    border-color: #DE3B04;
    padding: 4px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

.smallButton, .smallButton:link, .smallButton:visited {
    background-color: #E8EFF4;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #002448 #000000 #000000 #002448;
    padding: 2px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #002448;
    cursor: pointer;
    cursor: hand;
}

.smallButtonOver, .smallButton:hover {
    background-color: #DE3B04;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #DE3B04;
    padding: 2px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
}

/* Div Styles -------------------------------------------------------------------------------------  Div Styles */

div.jobDescriptionDetails {
    background-color: #E8EFF4;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #DE3B04;
    width: 100%;
    margin: 0px;
    padding: 6px 6px 18px 6px;
}

table.appSection {
    margin: 8px 0px;
    border-collapse: collapse;
}
div.districtLogo {
    background-color: #FFF;
    height: 100px;
    width: 71px;
    margin: 4px 4px 4px 0px;
    color: #000;
    overflow: hidden;
}
.footer {
    margin: 10px 0 8px 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    padding: 8px;
}
#ncInfo {
    float: right;
    width: 250px;
    font-size: 90%;
}
/* Forms */
input:focus, textarea:focus, select:focus, checkbox:focus {
    background-color: #F8FAC6;
    border: 2px solid black;
    color: #000;
}

/* Headline Styles ------------------------------------------------------------------------------  Headline Styles */
h1 {
    margin: 0px;
    border: 0;
    padding: 6px;
    font-size: 150%;
    line-height: 100%;
}
h2 {
    background-color: #1B9DC6;
    margin: 0px;
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: #002448;
    padding: 6px;
    color: #FFFFFF;
    font-size: 120%;
    line-height: 100%;
}
h4 {
    display: block;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
    color: white;
    margin: 0px 0px 0px 12px;
    line-height: 18px;
}
h5 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
    color: white;
    margin: 12px 0px 12px 0px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(0,36,72);
    padding: 0 0 4px 0;
}

/* Paragraph Styles ----------------------------------------------------------------------------  Paragraph Styles */
p.appLabel {
    display: block;
    width: 125px;
    margin: 3px;
    text-align: right;
    font-family: verdana, Geneva, verdana, sans-serif;
    font-size: 11px;
    color: #333333;
}
p.dateUpdated {
    display: inline;
    font-size: 100%;
    color: black;
}
p.jobLocationDetail {
    display: block;
    margin: 6px 0 0 0;
    color: #333333;
}

p.jobSalaryDetail {
    display: block;
    margin: 6px 0 0 0;
    color: #333333;
}
p.jobLocation {
    display: inline;
    font-size: 100%;
    color: black;
}
p.pagination {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    display: inline;
}

p.schoolName {
    font-size: 100%;
    font-weight: bold;
    color: #002448;
    margin: 0px 8px 0px 0px;
}
p.sectionName {
    display: block;
    background-color: #E8EFF4;
    margin: 20px 0 0 0;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #002448;
    padding: 4px 0px 6px 4px;
    font-weight: bold;
    color: #000;
    font-size: 120%;
    line-height: 150%;
}
.superHeadLine-black {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #000000;
    margin: 0px 0px 0px 10px;
}

td.inlineInstructions p {
    padding: 6px;
    font-size: 100%;
    line-height: 120%;
    color: #333333;
    font-style: italic;
}

.req {
    font-weight: bold;
}
/* Table Styles ------------------------------------------------------------------------- Table Styles */

table.applicantHeaderTable {
    width: 100%;
    font-size: 100%;
    margin: 0 0 8px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
}

tr.thead {
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #EEE;
    background-repeat: repeat-x;
    background-image: url(images/fadeTop.png);
}
tr.thead a:hover {
    text-decoration: none;
}

/* This applies only to the job listings table on index.aspx */
tr.jobListing {
    background-color:#4d4D4D;
    color:#FFF;
    border-radius: 5px;
    border: 1px solid #EEE;
    background-repeat:repeat-x;
    background-image:url(images/fadeTop.png);
}

/* Wraps each section of the appliction for consistent spacing */
table.appSection {
    width: 600px;
    margin: 10px 0px;
    border-collapse: collapse;
}

table.buttonTable {
    width: 100%;
    background-color: #1B9DC6;
    border-collapse: collapse;
    text-align: center;
}
table td {
    vertical-align: top;
}
td.inlineInstructions {
    background-color: #FBE7E0;
}
.loginTable {
    background-color: #002448; /* background-image:url(images/bg-smallLogin.jpg); */ /*	width:100%; */
    padding: 10px;
    border-width: 0;
    font-size: 100%;
    font-weight: bold;
    color: white;
}
.loginTable {
    color: white;
    font-size: 100%;
}
.newApplicantTable {
    background-color: #1B9DC6; /* background-image:url(images/bg_candidate_welcome.jpg); */ /* width:100%; */
    margin: 0px;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
}
table.jobsTable {
    background-color: #E8EFF4;
    border: 0px;
    border-collapse: collapse;
    font-size: 100%;
}
table.jobsTable td {
    padding: 3px;
}
table.jobsTable tr.jobsGridRowA {
    background-color: #FFFFFF;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #FFFFFF;
}
table.jobsTable tr.jobsGridRowA:hover {
    background-color: #E8EFF4;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #DE3B04;
}
table.jobsTable tr.jobsGridRowB {
    background-color: #E8EFF4;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #EAF6FA;
}
table.jobsTable tr.jobsGridRowB:hover {
    background-color: #E8EFF4;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #DE3B04;
}

td.reqCell {
    width: 15px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}
table {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.altBg {
    background-color: #EFEFEF;
}
.row {
    clear: both;
    display: block;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

tr.rowA {
    background-color: #EEE;
    color: #000;
}
tr.rowB {
    background-color: #FFF;
    color: #000;
}
tr.rowA:hover {
    background-color: #EEF376;
    color: #000;
}
tr.rowB:hover {
    background-color: #EEF376;
    color: #000;
}

tr.regCustom {
    background-color: #EEE;
    color: #000;
}
tr.altCustom {
    background-color: #FFF;
    color: #000;
}
tr.regCustom:hover {
    background-color: #EEF376;
    color: #000;
}
tr.altCustom:hover {
    background-color: #EEF376;
    color: #000;
}



.error {
    background-color: #FF0;
    padding: 4px;
}



/* For DynaList */

.LoadingCover {
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    opacity: .75;
    background-color: white;
    position: absolute;
    border: 1 green solid;
    color: #333;
}
.LoadingCover span {
    background-image: url(Images/snake_transparent.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding: 0px 0px 0px 25px;
    font-size: larger;
    font-weight: bold;
}

a.SearchHeaderUp {
    background-image: url(Images/sort_up.gif);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 0px 15px 0px 0px;
    cursor: hand;
    cursor: pointer;
}
a.SearchHeaderUp:hover {
    background-image: url(Images/sort_down.gif);
}

a.SearchHeaderDown {
    background-image: url(Images/sort_down.gif);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 0px 15px 0px 0px;
    cursor: hand;
    cursor: pointer;
}
a.SearchHeaderDown:hover {
    background-image: url(Images/sort_up.gif);
}

a.SearchHeader {
    padding: 0px 15px 0px 0px;
    cursor: hand;
    cursor: pointer;
}
a.SearchHeader:hover {
    background-image: url(Images/sort_up.gif);
    background-repeat: no-repeat;
    background-position: center right;
}

/* END - For DynaList */

.staticInfo {
    margin-left: 0px;
    color: #000;
    text-decoration: underline;
    padding: 1px 0px 1px 1px;
    font-weight: bold;
}
.staticInfoPlain {
    margin-left: 0px;
    color: #000;
    padding: 1px 0px 1px 1px;
}




/* subMenu */

ul.subMenu {
    margin: 0 0 20px 0px;
    padding: 0;
    display: block;
    width: 100%;
    border-bottom: 5px solid;
    height: 20px;
}

ul.subMenu li {
    display: inline;
    margin: 0 0 50px 0px;
    padding: 5px 20px 5px 20px;
    border-left: 0px solid #000;
    border-right: 0px solid #000;
}

.subMenu li:hover, .subMenu li.active:hover {
}

.subMenu li.active {
    font-weight: bold;
}


/* End - SubMenu */

div#oApplicantProfileTabs_liAdjunctListing, div#oApplicantProfileTabs_liAdjunctCourses, div#oApplicantProfileTabs_liAdjunctHistory {
    display: inline;
    width: auto;
    margin-left: 10px;
}


/* Sets for Buttons */
/* Establish some basic properties... */
/*
.add, .addHover, .cancel, .cancelHover, .delete, .deleteHover, .run, .runHover, .save, .saveHover, .saveComplete, .saveCompleteHover, .print, .printHover, .exit, .exitHover, .lock, .lockHover, .unlock, .unlockHover, .button, .buttonHover { background-image: url(images/bg_allButtons.jpg); background-repeat: repeat-x; margin: 7px; border: 1px solid #888; padding: 3px 3px 3px 3px; width: auto; overflow: visible; color: #FFF; font-weight: bold; text-decoration: none; text-align: left; font-size: 11px; }


.add, a.add:link, a.add:visited { background-position: 0px -80px; background-color: #75853B; color: #000; }
.addHover, a.add:hover, a.addHover:hover { background-position: -300px -80px; background-color: #75853B; color: #FFFCEF; border-color: #000; text-decoration: none; }

.cancel, .exit, a.cancel:link, a.cancel:visited { background-position: 0px -160px; background-color: #c3d33d; color: #FFF; }
.cancelHover, .exitHover, a.cancel:hover, a.cancelHover:hover { background-position: -300px -160px; background-color: #CC3000; color: #FFFCEF; border-color: #000; text-decoration: none; }

.delete, a.delete:link, a.delete:visited { background-position: 0px -120px; background-color: #c3d33d; color: #FFF; }
.deleteHover, a.delete:hover, a.deleteHover:hover { background-position: -300px -120px; background-color: #CC3000; color: #FFFCEF; border-color: #000; text-decoration: none; }

.run { background-position: 0px 0px; background-color: #75853B; }
.runHover { background-position: 0px -300px; background-color: #75853B; color: #FFF; border-color: #000; }

.save { background-position: 0px 0px; background-color: #75853B; color: #000; }
.saveHover { background-position: -300px 0px; background-repeat: repeat-x; background-color: #75853B; color: #FFFCEF; border-color: #000; }

.saveComplete { background-position: 0px -40px; background-color: #758500; color: #000; }
.saveCompleteHover { background-position: -300px -40px; background-color: #758500; color: #FFFCEF; border-color: #000; }

.lock { background-position: 0px -280px; background-color: #896739; color: #FFF; }
.lockHover { background-position: -300px -280px; background-color: #896739; color: #FFF; }

.unlock { background-position: 0px -3200px; background-color: #896739; color: #FFF; }
.unlockHover { background-position: -300px -3200px; background-color: #896739; color: #FFF; }

.print { background-position: 0px -200px; background-color: #896739; color: #FFF; }
.printHover { background-position: -300px -200px; background-color: #896739; color: #FFF; border-color: #000; }


.button, a:link.button, a:visited.button { background-position: 0px -240px; background-color: #302C38; padding: 3px; color: #FFF; }
.buttonHover, a:hover.button { background-position: -300px -240px; background-color: #302C38; padding: 3px; color: #FFF; border-color: #000; }
*/
/*
a.action:link, a.action:visited { background-image: url(images/bgActionButton.gif); background-repeat: repeat-x; background-color: #EEE; margin: 2px 5px 2px 10px; border: 1px solid #CCC; padding: 1px 8px; color: #444; font-weight: bold; font-size: 90%; text-decoration: none; }
a.action:hover { background-image: url(images/bgActionButtonHover.gif); background-repeat: repeat-x; background-color: #EEE; margin: 2px 5px 2px 10px; border: 1px solid #666; padding: 1px 8px; color: #000; font-weight: bold; font-size: 90%; text-decoration: none; }
a.action:active { background-image: url(images/bgActionButtonHover.gif); background-repeat: repeat-x; background-color: #EEE; margin: 2px 5px 2px 10px; border: 1px solid #666; padding: 3px 8px; color: #ED1C24; font-weight: bold; font-size: 90%; text-decoration: none; }
*/

div.Page {
    clear: both;
    display: block;
    float: none;
}
div.Section {
    page-break-inside: avoid;
    clear: both;
    display: block;
    float: none;
}
span.SubSection {
    clear: both;
    display: block;
    float: none;
    padding-left: 15px;
}
span.SectionHeader {
    clear: both;
    display: block;
    float: none;
}

.accent {
    font-family: verdana, Geneva, verdana, sans-serif;
    color: #990000;
    text-decoration: none;
}



span.spanish {
    font-weight: normal;
    font-style: normal;
    color: #555;
    margin-left: 10px;
}
div.sectionHead span.spanish {
}
div.longQuestion label span.spanish {
    display: inline;
}

span.PageIndexNumber:hover {
    background-color: #FFF;
    color: #000;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    text-decoration: none;
}
span.PageIndexNumber {
    color: #000;
    background-color: #EEE;
    margin: 2px;
    padding: 1px 5px 2px 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    cursor: pointer;
    cursor: hand;
}
.PageIndexNumberCurrent {
    z-index: 100;
    margin: 2px;
    padding: 3px 5px 2px 5px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    background-color: #FFF;
}

.regProfile input{
            width: 250px;
        }

        .PagingArrow {
             margin-top:12px;
        }
        span.PageIndexNumber, span.PageIndexNumber:hover, .PageIndexNumberCurrent{
            border:none !important;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

/*TED-407 changes*/

        fieldset.AcceptDeclineButtons {
            background-image: none;
            text-align: right;
        }

        fieldset#fsDeclineOffer select {
            background-image: none;
            background-color: white;
            border: 1px solid #787878;
            font-family: 'Helvetica Neue 65';
            font-size: 14px;
            outline: 2px solid #EFEFEF;
            padding: 2px;
            width: 80%;
        }

        fieldset.AcceptDeclineButtons input[type=button] {
            background-color: #404040;
            border-radius: 3px;
            color: #FFFFFF;
            cursor: pointer;
            font-family: 'Helvetica Neue 55';
            font-size: 14px;
            margin: 3px 3px 3px 3px;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            border: 0;
        }


        #hdrDeclineOffer,#hdrAcceptDecline {
            color: #808080;
            font-family: 'Atrament Medium';
            font-size: 20px;
            text-transform: uppercase;
            background-color: transparent;
            font-weight: normal;
        }
